<template>
    <div class="container item-container">
        <div class="row">
            <div class="col-12">
                <h1>Elabs Consulting Test</h1>
            </div>
            <div class="col-6 item-info">
                <div class="container item-info__details">
                    <h2>Item Details</h2>
                    <div class="col-12">
                        <div class="col-6">
                            <figure>
                                <img src="" class="figure-img img-fluid rounded" alt="<< Show here the item image >>" />
                                <figcaption class="figure-caption"><< Put here the brand and model values >></figcaption>
                            </figure>
                        </div>
                        <div class="col-6">
                            <div class="card">
                                <div class="card-header">
                                    << Put here item brand and model >>
                                </div>
                                <div class="card-body">
                                    <div class="card-text">
                                        << Put here item color >>
                                    </div>
                                    <div class="card-text">
                                        << Put here the item material >>
                                    </div>
                                    <div class="card-text">
                                        << Put here the item price >>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="container item-info__summary">
                    <h2>Summary</h2>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-4">
                                Price
                            </div>
                            <div class="col-8">
                                << put here the item price >>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                Taxes
                            </div>
                            <div class="col-8">
                                << put here the taxes from the calc request >>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 bold">
                                Total:
                            </div>
                            <div class="col-8">
                                << put here the total price from the calc request >>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'CheckoutComponent',
        data() {
            return {
                itemId: 1
            }
        },
        mounted() {
            console.log(itemId);
        },
        created(){
        axios.get('http://127.0.0.1:8000/test/1')
        .then(response => {
            this.item = response.data
        })
    },
    }
</script>
